<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <div class="fiel is-horizontal">
        <div class="field-body">

            <div class="field is-narrow">
                <p class="control">
                    <input [ngModel]="item.amount" required name="amount" type="number" style="width: 100px;" placeholder="Amount" class="input">
                </p>
            </div>

            <div class="field">
                <p class="control">
                    <input [ngModel]="item.description" required name="description" type="text" placeholder="Description" class="input">
                </p>
            </div>

            <div class="field is-narrow">
                <button [disabled]=!itemForm.valid type="submit" class="button is-primary" >Add</button>
            </div>

        </div>
    </div>
</form>
