@import '../../../main-styles.scss';

.root{
    display: flex;
    width: 100%;
    position: relative;

    .x-icon-button{
        position: absolute;
        height: 30px;
        width: 30px;
        background: red;
        right: 0;
    }
}
.budget-item{
    display: flex;
    width: 100%;
    background-color: $light-grey;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    .description{
        display: flex;
        flex-grow: 1;
        font-size: 18px;
        margin-left: 5px;

        //vertically center the childrem elements
        align-items: center;
    }
    .mount{
        padding: 5px;
        border-radius: 3px;
    }
}

.expense{
    p{
        color: $red;
    }
    .mount{
        background-color: $light-red;
    }
}
.income{
    p{
        color: $green;
    }
    .mount{
        background-color: $light-green;
    }
}